.gameContainer {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  font-family: "Titillium Web", sans-serif;
  padding: 20px;
}
.gameContainer__header {
  margin-top: 100px;
  text-align: center;
  font-size: 3.5em;
}
