.gameContainer {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  padding: 20px;
  border: 2px solid red;
}
.gameContainer__data {
  max-width: 800px;
  margin: 0px auto;
  padding: 10px;
  border: 2px solid green;
}
